@media(max-width:1250px){
footer{
    width: 100%;
    /* height: 11rem; */
    background-color: rgba(164, 172, 169, 0.484);
    position: relative;
    padding: 2rem;


}
footer h2{
    width: fit-content;
    padding: 12px;
    background-image: linear-gradient(rgb(203, 88, 65)50%,rgba(82, 87, 216, 0.605)40%);
     -webkit-background-clip: text;
        color: transparent;
        font-size: 2rem;
}
.ful {
    display: flex;
    position: absolute;
    top: 15%;
    left: 47%;
    transform: translate(-50%, -50%);
  }
  
  .ful li {
    list-style: none;
  }
  
  .ful li a {
    width: 30px;
    height: 27px;
    background-color: #fff;
    text-align: center;
    line-height: 29px;
    font-size: 15px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  .ful li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .ful li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .ful li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: .5s;
    z-index: 2;
  }
  
  .ful li a:hover:before {
    top: 0;
  }
  
  .ful li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  .ful li:nth-child(2) a:before{
    background: #55acee;
  }
  
  .ful li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  .ful li:nth-child(4) a:before {
    background: #dd4b39;
  }

  footer img{
    height: 20rem;
    margin-top: -44px;
    margin-left: 82rem;
  }
footer h4{
margin-top: 2rem;
font-size: 2rem;
text-align: center;
}
}
@media(max-width:1040px){
    footer img{
        margin-left: 72rem;
      }
}
@media(max-width:950px){
    footer img{
        margin-left: 62rem;
      }
}
@media(max-width:840px){
    footer img{
           margin-left: 52rem;
      }
}
@media(max-width:740px){
    footer img{
        margin-left: 32rem;
      }
}
@media(max-width:540px){
    footer img{
        margin-left: 25rem;
      }
      .ful{
        left:52% ;
      }
}
