@media (max-width:1250px) {
.main_container{
    /* border: 2px solid red; */
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    /* align-items: center; */
    }
    .container {
        border: 2px solid rgba(161, 159, 159, 0.454);
        height: 25rem;
        width: 20%;
        position: relative;
        margin-top: 10px;
    }

    .container>img {
        height: 22rem;
        width: 100%;
        /* margin-left: 10px; */
        /* object-fit: fill; */
        object-fit: contain;
        /* object-position: 50px 70px; */
        /* object-position: left top; */
        transition: all 1s;
        position: absolute;
    }
    .container>h3{
        font-size: 2rem;
        text-align: center;
        margin-top: 20rem;
        color:  #8E7618;
        /* position: absolute; */
    }
    .container>p{
        /* border: 2px solid red; */
        color: rgba(121, 118, 118, 0.909);
        width: 100%;
        margin-top: 14px;
        position: absolute;
        text-align: center;
        /* padding: 10px 20px; */
        transform: translateY(-10px);
        opacity: 0;
        transition: 0s;
        font-size: 1.5rem;
    }
    .container:hover>p{
        opacity: 1;
        transform: translate(100px -100px);
        position: absolute;
    }

    .container:hover {
        /* object-position: left bottom; */
        object-position: 0 0px;
        height: 32rem;
        /* margin-left: 35px; */
        margin-top: 20px;
    }
}
@media (max-width:700px) {
    .main_container{
        flex-direction: column;
        }
        .container {
            height: 23rem;
            width: 40%;
            margin-left: 30%;
        }
        .container h3{
            font-size: 1.5rem;
        }
    .container p{
        font-size: 1.2rem;
    }
}
